.toolbar {
    margin: 1.4rem;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
    overflow: hidden;
}


.toolbar__navigation {
    display: flex;
    align-items: center;
}

.toolbar__logo {
    margin-left: .5rem;
    position: absolute;
    transition: all 0.3s ease-in;
}

.toolbar__logo p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: -.5rem;
}


.spacer {
    flex: 1;
}

.toolbar__navigation-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.toolbar__navigation-items li {
    padding-left: 2.5rem;
}

.toolbar__navigation-items .toolbar__link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.toolbar__navigation-icons {
    height: 18px;
    width: 18px;
    margin-right: 0.3rem;
    margin-bottom: -.15rem;
}

.myspace-homeicon {
    margin-bottom: -.11rem;
}

.cursor {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    transform: translateX(-50%, -50%);
    pointer-events: none;
    z-index: -10;
}


@media (max-width: 768px) {
    .toolbar__navigation-items {
        display: none;
    } 
}

@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }

    .toolbar__logo {
        margin-left: 0;
    }
}